@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Spectral:wght@400;600;700&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif; 

#ffc017
#191919
#1a8917 
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
   line-height: 1.2em;
}

main,
h4,
.btn-article a,
aside,
footer {
   font-family: "Roboto", sans-serif;
}

header {
   font-family: "Roboto", sans-serif;
   background-color: #ffc017;
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 2;
   transition: all 0.5s ease-in-out;
}

nav {
   width: inherit;
   padding: 1em 3em;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #191919;
   font-size: 1em;
}

button {
   background-color: #191919;
   border: none;
   padding: 1em;
   color: #fff;
   border-radius: 2.5em;
   cursor: pointer;
}

nav ul {
   list-style: none;
   display: flex;
   align-items: center;
}

nav ul li {
   padding: 1em;
}

nav ul li a {
   color: #191919;
   text-decoration: none;
}

h1 {
   font-family: "Spectral", serif;
   font-size: 7em;
}

p {
   font-family: "Roboto", sans-serif;
}

.container {
   display: flex;
   width: 100%;
   align-items: center;
   background-color: #ffc017;
   border-bottom: 1px solid #191919;
   justify-content: space-between;
}

.container-text,
.container-artwork {
   height: 100%;
   display: flex;
}

.container-text {
   margin-left: 3em;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.container-artwork {
   object-fit: cover;
   align-items: center;
}

.container p {
   font-size: 1.6em;
   margin: 1em 0 1.6em;
   width: 18em;
}

.container button {
   padding: 0.5em 3em;
   font-size: 1.2em;
}

.body-container {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.container-trending {
   width: 100%;
   padding-top: 3em;
   padding-bottom: 2.8em;
   border-bottom: 2px solid #e6e7e7;
}

.title-trending {
   display: flex;
   font-size: 1.2em;
   font-weight: 500;
}

.trending-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}

.trending-item {
   display: flex;
   margin-top: 2em;
   flex-basis: 30%;
}

.content-trending-number {
   color: #f2f2f2;
   font-size: 3em;
   font-weight: 700;
   margin-right: 0.6em;
}

.content-trending,
.content-article {
   margin-top: 1em;
   width: 80%;
}

.subtitle-trending {
   display: flex;
   align-items: center;
}

.subtitle-trending img {
   border-radius: 2.5em;
   margin-right: 0.8em;
   width: 1.8em;
   height: 1.8em;
}

.subtitle-trending p,
.subtitle-trending {
   font-weight: 500;
}

.text-trending {
   font-weight: 700;
   margin: 1em 0;
   font-size: 1.2em;
}

.trending-time-stamp,
.gray {
   color: #6b6b6b;
   font-weight: 400;
}

.title-article {
   font-weight: 700;
   font-size: 1.6em;
   margin-bottom: 0.4em;
}

.article-time-stamp {
   display: flex;
   align-items: center;
}

.btn-article a {
   text-decoration: none;
   color: #6b6b6b;
   background-color: #f2f3f3;
   padding: 0.4em 0.6em;
   border-radius: 1em;
   margin: 0 0.4em;
}

.article {
   display: flex;
   margin-bottom: 3em;
}

.container-lower {
   display: flex;
   margin-top: 3em;
}

.aside-container {
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
   margin: 1em 0;
   padding-bottom: 2em;
   border-bottom: 2px solid #e6e7e7;
   max-width: 380px;
}

.aside-content {
   border: 2px solid #e6e7e7;
   padding: 0.6em;
   border-radius: 5px;
   flex: 1 1 auto;
   margin: 0.1em;
   text-align: center;
   cursor: pointer;
}

.container-left {
   width: 60%;
   margin-right: 10%;
}
.container-right {
   width: 30%;
}

h5 {
   font-weight: 500;
   font-size: 1.26em;
}

footer ul {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   max-width: 400px;
}

footer ul li {
   margin-right: 1em;
   margin-bottom: 1em;
}

footer ul li a {
   text-decoration: none;
}

.article-buttom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.article-img {
   width: 35%;
   height: 100%;
   margin-top: 1.2em;
}

.content-article {
   width: 65%;
   padding-right: 1em;
}
.article-img img {
   width: 100%;
   object-fit: cover;
}
.change-color {
   background-color: #fff;
}
